* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* :root {
  --primary-color: #0ecee7;
} */
body {
  background-color: #37353e;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}
h1 {
  font-family: "Tomorrow", sans-serif;
  font-weight: 700;
  font-size: 50px;
  text-align: center;
  width: 98%;
  position: fixed;
  top: 1%;
  left: 1%;
  padding: 20px;
  margin: 0 0 40px;
  background-color: #525ceb;
  color: rgb(199, 241, 10);
  margin: 2px auto 0;
  box-shadow: 0 2px 4px 0 rgba(236, 236, 236, 0.1);
  border-radius: 13px;
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;
  -ms-border-radius: 13px;
  -o-border-radius: 13px;
}
.guess-game {
  background-color: #03063094;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 1000px;
  margin: 20px auto;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  .game-area {
    background-color: #525ceb70;
    padding: 30px 60px 25px 30px;
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    .inputs {
      > div {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-bottom: 20px;
        > span {
          font-family: "Play", sans-serif;
          font-weight: 600;
          font-size: 22px;
          margin-right: 15px;
        }
        > input {
          width: 50px;
          height: 50px;
          padding: 5px 5px 7px 5px;
          font-size: 30px;
          font-weight: 500;
          font-family: "Tomorrow", sans-serif;
          text-align: center;
          caret-color: #f10aa4;
          border-radius: 6px;
          -webkit-border-radius: 6px;
          -moz-border-radius: 6px;
          -ms-border-radius: 6px;
          -o-border-radius: 6px;
          border: none;
          border-bottom: 4px solid #ff2dd1;
          outline: none;
          box-shadow: 0 2px 4px 0 rgba(190, 189, 189, 0.1);
          background-color: #f3f2f2;
          &:focus {
            border-color: #4dffbe;
          }
          &.yes-correct {
            background-color: #1e9e34;
            border-color: #1e9e34;
            color: #fff;
          }
          &.not-in-place {
            background-color: #ffb22c;
            border-color: #ffb22c;
            color: #fff;
          }
          &.not-in-word {
            background-color: #dc143c;
            border-color: #dc143c;
            color: #fff;
          }
        }
      }
      .disabled-try {
        opacity: 0.5;
        pointer-events: none;
      }
    }
  }
  .key-colors {
    padding: 0 25px 0 37px;
    h2 {
      margin-bottom: 26px;
      font-family: "Tomorrow", sans-serif;
      font-weight: 700;
      font-size: 33px;
      color: rgb(199, 241, 10);
    }
    .key-color {
      padding: 12px 20px 12px 12px;
      margin-bottom: 18px;
      display: flex;
      border-radius: 9px;
      align-items: center;
      box-shadow: 0 2px 4px 0 rgba(201, 201, 201, 0.671);
      background-color: #ececec;
      color: #333;
      .key {
        width: 40px;
        height: 40px;
        margin-right: 13px;
        box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
        border-radius: 6px;
        -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
        -ms-border-radius: 6px;
        -o-border-radius: 6px;
        &.correct {
          background-color: #1e9e34;
        }
        &.not-in-place {
          background-color: #ffb22c;
        }
        &.not-in-word {
          background-color: #dc143c;
        }
      }
      .key-text {
        font-family: "Play", sans-serif;
        font-weight: 700;
        font-size: 20px;
      }
    }
  }
}
footer {
  text-align: center;
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-size: 20px;
  background-color: #cecdcd;
  color: #333;
  padding: 24px;
  position: fixed;
  bottom: 1%;
  left: 1%;
  width: 98%;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}
